<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>测试</title>
		<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
        <link rel="icon" href="<%= webpackConfig.output.publicPath%>images/qianli.ico" type="image/x-icon">
        <script>
            window.onerror = () => {
                return true;
            };
        </script>
	</head>
	<body>
		<div id="app"></div>
        <iframe id="download_frame" src="" style="display: none;"></iframe>
        <script src="<%= webpackConfig.output.publicPath%>api.js"></script>
		<script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
		<script src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
	</body>
</html>
